@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
html {
  font-size: 14px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
}

@media (min-width: 701px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

@media (max-width: 700px) {
  .container {
    width: 100%;
  }
}

.header {
  background-color: #217CA3;
}

.header__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 103px;
}

@media (max-width: 1023px) {
  .header__wrap {
    min-height: 100vh;
    flex-direction: column;
  }
}

.header__logo img {
  height: 100px;
}

@media (max-width: 1023px) {
  .header__logo img {
    height: 200px;
    padding: 25px 0;
  }
}

.header__nav {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1023px) {
  .header__nav {
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.nav__item {
  font-weight: 400;
  font-size: 1.6rem;
  color: white;
  padding: 0 20px;
  text-decoration: none;
}

.nav__item:hover {
  color: lightblue;
}

@media (max-width: 1023px) {
  .nav__item {
    font-size: 2rem;
    text-align: center;
  }
}

.about-us {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/background_about-us.jpg") center center/cover no-repeat;
}

.about-us__wrap {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media (max-width: 1200px) {
  .about-us__wrap {
    min-height: 100vh;
  }
}

.about-us__body {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1023px) {
  .about-us__body {
    height: auto;
  }
}

.about-us__text {
  width: 550px;
  color: white;
}

@media (max-width: 1200px) {
  .about-us__text {
    width: auto;
  }
}

.about-us__text h1 {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 1200px) {
  .about-us__text h1 {
    font-size: 2rem;
  }
}

.about-us__text p {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: justify;
  line-height: 30px;
}

@media (max-width: 1023px) {
  .about-us__text p {
    text-align: center;
    line-height: 20px;
  }
}

@media (max-width: 700px) {
  .about-us__text p {
    padding: 0 15px;
  }
}

.advantages {
  background-color: #217CA3;
}

.advantages__wrap {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

@media (max-width: 1200px) {
  .advantages__wrap {
    min-height: 100vh;
    height: 100%;
  }
}

.advantages__title {
  padding: 60px 0;
  font-size: 3rem;
  color: white;
  align-self: center;
  text-align: center;
}

@media (max-width: 1200px) {
  .advantages__title {
    font-size: 2rem;
    width: 80%;
  }
}

.advantages__body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages__items {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: start;
  align-content: space-around;
}

@media (max-width: 1200px) {
  .advantages__items {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media (max-width: 780px) {
  .advantages__items {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

.item {
  width: 90%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.item__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 320px;
  height: 90%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0 12px;
}

@media (max-width: 1200px) {
  .item__wrap {
    width: 80%;
  }
}

.item__wrap::after {
  content: '';
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 90px;
  height: 1px;
}

.item__title {
  position: relative;
  font-size: 1.7rem;
  color: white;
  text-align: center;
}

.item__body {
  font-size: 1.3rem;
  line-height: 20px;
  color: white;
  text-align: center;
}

.services {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/background_services.jpg") center center/cover no-repeat;
}

.services__wrap {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .services__wrap {
    min-height: 100vh;
    height: 100%;
    align-items: center;
  }
}

.services__title {
  font-size: 3rem;
  color: white;
  padding: 60px 0;
  text-align: center;
}

@media (max-width: 1200px) {
  .services__title {
    font-size: 2rem;
    width: 80%;
  }
}

.services__body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 60px;
}

@media (max-width: 1200px) {
  .services__body {
    flex-direction: column;
    margin-bottom: 0px;
    align-self: stretch;
  }
}

.services__body--wrap {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .services__body--wrap {
    flex-direction: column;
    align-items: center;
  }
}

.service {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 47%;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 60px;
}

@media (max-width: 1200px) {
  .service {
    width: 80%;
  }
}

.service__title {
  background-color: rgba(0, 0, 0, 0.5);
  height: 16.66%;
  font-size: 1.7rem;
  color: white;
  text-align: center;
  border-bottom: 1px solid white;
}

@media (max-width: 1200px) {
  .service__title {
    padding: 0 5%;
  }
}

.service ul {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.service ul li {
  height: 16.66%;
  font-size: 18px;
  list-style-type: none;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1200px) {
  .service ul li {
    padding: 0 5%;
  }
}

.contacts {
  background-color: #217CA3;
  padding: 60px 0;
}

.contacts__wrap {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .contacts__wrap {
    min-height: 100vh;
    height: 100%;
  }
}

.contacts__title {
  font-size: 3rem;
  color: white;
  margin-bottom: 60px;
  text-align: center;
}

@media (max-width: 1200px) {
  .contacts__title {
    font-size: 2rem;
  }
}

.contacts__body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .contacts__body {
    flex-direction: column;
  }
}

.contacts__map {
  width: 47%;
  height: 100%;
}

@media (max-width: 1200px) {
  .contacts__map {
    width: 80%;
    height: 400px;
    margin-bottom: 60px;
  }
}

.contacts__map iframe {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.contacts__contacts {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  height: 50%;
  width: 47%;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .contacts__contacts {
    height: 400px;
    width: 80%;
    padding: 0;
  }
}

.contacts__contacts::before {
  position: absolute;
  content: '';
  background-color: white;
  height: 1px;
  width: 80%;
  top: 50%;
}

.phone-numbers {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.phone-numbers__title {
  color: white;
  font-size: 1.6rem;
  text-align: center;
}

.phone-numbers__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.phone-numbers__items a {
  font-size: 1.6rem;
  text-decoration: none;
  padding: 10px;
}

.phone-numbers__items a:link, .phone-numbers__items a:visited, .phone-numbers__items a:active {
  color: white;
}

.whatsapp {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whatsapp__body {
  display: flex;
  justify-content: center;
  text-align: center;
}

.whatsapp__body a {
  font-size: 1.6rem;
  text-decoration: none;
}

.whatsapp__body a:link, .whatsapp__body a:visited, .whatsapp__body a:active {
  color: greenyellow;
}

.footer {
  background-color: #211F30;
}

.footer__wrap {
  position: relative;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 700px) {
  .footer__wrap {
    padding: 0 10%;
  }
}

.footer__title {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1rem;
}

@media (max-width: 1023px) {
  .footer__title {
    left: 0%;
    transform: translateY(-50%);
  }
}

@media (max-width: 700px) {
  .footer__title {
    left: 10%;
  }
}

.footer__body {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.instagram img {
  fill: white;
  width: 50px;
  height: 50px;
}

.vk img {
  width: 50px;
}
