@font-face{
    font-family: "OpenSansLight";
    src: url('./OpenSans-Light.ttf') format('ttf');
}

@font-face{
    font-family: 'OpenSansSemiBold';
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
    // font-weight: 600;
}